.image16{
    height:500px;
    width: 500px;
    border-radius: 5px;
    margin-left: -20px;
}
.heading{
    margin-top:-300px;
   margin-left:-240px;
   text-decoration: underline;
    font-size: 45px;
}
.text{
    border: none;
    width:50px;
    margin-left:530px;
  outline: none;
    border-bottom: 1px solid black;
    
    
}
.text1{
    border: none;
    width: 700px;
    margin-left: 530px;
    outline: none;
    border-bottom: 1px solid black;
    margin-top: 30px;
}
.textarea{
    width: 700px;
    margin-left: 530px;
    margin-top: 20px;
    border: 1px solid black;
    resize: none;
}
.submit{
    background-color: black;
    color: white;
    height: 50px;
    width: 150px;
margin-left: 750px;
border-radius: 10px;

}