
.footer-section {
    background-color: #ffffff; 
    color: #000000; 
    padding: 20px;
    text-align: center;    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); 

    
  }
  
  .footer-logo {
    width: 100px;
    height: auto; 
    margin-bottom: 10px;
  }
  
  .footer-content p {
    margin: 10px 0;
    font-size: 14px; 
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #000000;
    margin: 15px;
    margin-top: 10px;
    text-decoration: none; 
  }
  
  .footer-links a:hover {
    text-decoration: underline; 
  }
  